{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock title %} | Zah Wines</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">    
<body>
    <header>
        <div class="main-nav">
            <!--admin access-->
            <div class="topnav admin">            
            {% if user.is_authenticated %}
            <a href="{% url 'wine_create' %}">Create Wine</a>            
            <a href="{% url 'wine_create' %}">Consults</a>
            <a href="{% url 'wine_create' %}">Customers</a>
            {% comment %} <a href="{% url 'logout' %}">Logout</a> {% endcomment %}
            {%endif%}
            </div>

            <!--winery name-->
                <div class="title">
                    <a href= {% url 'wine_home' %}><h1>Zah Wines</h1></a>
                </div>
            
            <!--nav bar-->
                <div class="topnav">
                  <a href="{% url 'wine_list' %}">Wines</a>
                  <a href="{% url 'about' %}">About</a>
                  <a href="{% url 'consult' %}">Consult</a>
                  <a href="{% url 'contact' %}">Contact</a>
                </div>  
            </div>	
        </head>
    </header>
    <main>
    {% block content %}
    {% endblock content %}
    </main>
    <footer class="social">
        <a href="https://www.instagram.com/zahwines" target="_blank">
            <img src="{% static "images/glyph-instagram.png" %}" id="flip" alt="instagram">
        </a>
    </footer>
    <div id="chicken">
    <a href="{% url 'admin:index'%}">    
        <img src="{% static "images/chicken.gif" %}" alt="chicken">
    </a>
    </div>
    
    
</body>

</html>