{% extends 'base.html' %}

{% block title %}
    Contact
{% endblock title %}

{% block content %}

{% if submitted %}
<p class="home">Thank you for your interest! We'll get back to you soon.</p>
{% else %}
    <div class="form">
        <h1>Contact Form</h1>
        <p>Interested in buying our wines? Inquire below!</p>
        <form method="post">
            <table> 
            {% csrf_token %}           
            {{ form.as_table }}            
                <tr>
                    <td>&nbsp;</td>                    
                </tr>
            </table>            
            <td><button class="button">Submit</button></td>
        </form>        
{% endif %}
    </div>
{% endblock content%}
