{% extends 'base.html' %}
{% load static %}

{% block title %}
    Wines
{% endblock title %}

{% block content %}
    {% for wine in wine_list %}
    <div class="detail">
        <img src="{{ wine.image }}">
        <h3 class="wine-title">{{ wine.year }} {{ wine.varietal }}</h3>
        <div = 'inline'>
        {% if wine.techsheet %}
        <a href="{{ wine.techsheet }}" id="tech">Tech Sheet</a>
        {% endif %}
        {% if user.is_authenticated %}      
        <a role="link" aria-disabled="true" style="color: black">|</a>  
        <a href="{% url 'wine_edit' wine.id %}">Edit</a>
        <a role="link" aria-disabled="true"style="color: black">|</a>
        <a href="{% url 'wine_delete' wine.id %}" id='delete'>Delete</a>        
        {%endif%}
        </div>
        <p>{{ wine.location }}</p>        
        <h3>Description</h3>        
        <p>{{ wine.description }}</p>
    </div>
    {% endfor %}


{% endblock content%}